# ========================
# IntelliJ
# ========================
.idea/
*.iml
*.iws
out/

# ========================
# Backend (Spring Boot)
# ========================
backend/target/
backend/.mvn/
backend/*.log
backend/backend/gs-els-firebase-adminsdk-fbsvc-affd4b34f3.json

# ========================
# Frontend (Angular)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
